@{
    Layout = "_MioLayout";
}

<main class="sfondo">	
			<h2 class="titolo justify-content-center text-center text-white ">pizzeria da compagnone</h2>
				<div class="grid">
					<figure class="effect-layla justify-content-center text-center">
						<img src="~/img/IMG_0319.jpg" alt="img06"/>
							<figcaption class="justify-content-center text-center ">
								<h2><span class ="text-danger" >IL NOSTRO MENU</span></h2>
								<a href="@Url.Action("Index", "Pizza")">View more</a>
							</figcaption>
						</figure>

						<figure class="effect-layla justify-content-center text-center ">
							<img src="~/img/chef.jpg" alt="img06"/>
								<figcaption class="justify-content-center text-center">
								<h2><span class ="text-danger" >AGGIUNGI UNA PIZZA</span></h2>									
								<a href=@Url.Action("Create", "Pizza")>View more</a>
								</figcaption>
						</figure>
					
				</div>
			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</main>
