@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Pizza>
<main>
    <div class="container">
        <div class="row justify-content-center mx-5">

            @if(Model.Count() == 0)
            {
                <h3>Mi dispiace non ci sono Pizze!</h3>
            }
            else
            {
                @foreach(Pizza menu in Model)
                {
                    <div class="col-12 col-md-6 col-lg-4 text-center mt-3">
                            <div class="card shadow mb-5 bg-body rounded justify-content-center" style="width: 24rem;">
                           <!-- SLIDE -->
                            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src=~/img/@menu.Image  height="350" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src=~/img/@menu.Image2  height="350"  class="d-block w-100" alt="...">
                                </div>
                              </div>
                            </div>
                            <!--FINE SLIDE -->
                                <div class="card-body p-0 bg-opacity-50">
                                  <h5 class="card-title bg-warning text-white p-2">@menu.Title</h5>
                                  
                                  <p class="text-warning p-0 m-0 fs-6" >ATTENZIONE: PIZZA CON GLUTINE </p>
                                  <p class="p-4"> <b>@menu.Prezzo €</b></p>
                                  <p>
                                   <form action="@Url.Action("Elimina", "Pizza", new {id= menu.id})" method="post">
                                      <a type="button" href=@Url.Action("Aggiorna", "Pizza", new { id = menu.id })  class="btn btn-warning">Modifica</a>
                                      <span>     </span>
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-danger btn-sm">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg>
                                        </button>
                                        <span>     </span>
                                      <a type="button" href=@Url.Action("Dettagli", "Pizza", new { id = menu.id })  class="btn btn-warning">Dettagli</a>

                                    </form>
                                  </p>
                                </div>
                          </div>
                        </div>
                }
            }
        </div>
    </div>
</main>

                        